<!--This page displays a form for creating content, if the user is logged in-->
<div id="create" ng-show="loggedin">
    <p>Post Title</p>
    <input type="text" name="posttitle" placeholder="Post Title" ng-model="title"/><br />
    
    <p>Author</p>
    <input type="text" name="postauthor" placeholder="Author..." ng-model="author"/><br />
    
    <p>Current Time - {{dateTime}}</p>
    <p>Content</p>
    <textarea rows="15" cols="120" name="txtar" placeholder="Post content here..." ng-model="content" ></textarea><br />
    
    <p>Tags</p>
    <input type="text" name="posttags" placeholder="Tags, separated by commas..." ng-model="tags"/><br />
    
    <button class="postButton" ng-click="postNews()">Post</button><br /><br />
</div>

<!--The form is hidden unless the user is logged in-->
<div ng-hide="loggedin">
    <h3>You must <a href="/#!/login">login</a> to post news content.</h3>
</div>