<!--ng-class takes on the class "selected" if visiblepageID equals some value, otherwise it is the default class navbutton-->
<button class="navbutton" ng-class="{selected: visiblepageId == 0}" ng-click="showPage(0)">News</button> 
<button class="navbutton" ng-class="{selected: visiblepageId == 1}" ng-click="showPage(1)">Create</button>
<button class="navbutton" ng-class="{selected: visiblepageId == 2}" ng-click="showPage(2)">About</button>
<button class="navbutton" ng-class="{selected: visiblepageId == 3}" ng-click="showPage(3)">FAQ</button>
<button class="navbutton" ng-class="{selected: visiblepageId == 4}" ng-click="showPage(4)" ng-hide="loggedin">Login</button>
<button class="navbutton" ng-class="{selected: visiblepageId == 4}" ng-click="showPage(4)" ng-show="loggedin">Profile</button>
<!--Either the Login or Profile buttons are visible at one time, based on whether the user is logged in-->
