<button class="navbutton" ng-class="{selected: visiblePageId == 0}" ng-click="showPage(0)">News</button>
<button class="navbutton" ng-class="{selected: visiblePageId == 1}" ng-click="showPage(1)">Create</button>
<button class="navbutton" ng-class="{selected: visiblePageId == 2}" ng-click="showPage(2)">About</button>
<button class="navbutton" ng-class="{selected: visiblePageId == 3}" ng-click="showPage(3)">FAQ</button>
<button class="navbutton" ng-class="{selected: visiblePageId == 4}" ng-click="showPage(4)">Login</button>
