<!--This page displays the items stored in the News array using ng-repeat-->
<!--It makes use of the $index variable to produce a unique ascending number for each item-->
<div id="news">
    <div class="greyBox" ng-repeat="item in newsArray">
        <h1>{{$index+1}}. {{item.title}}
            <!--The delete button "X" is hidden unless the user is logged in-->
            <span class="right"><button ng-show="loggedin" class="delButton" ng-click="deleteNews($index);">X</button></span>
        </h1>
        <p>{{item.content}}</p>  
        <p class="postfooter">
            <span class="left">{{item.author}}</span><span class="right">{{item.tags}}</span>
        </p> 
    </div>   
</div>